body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #2D3C49;
}

footer {
	margin-top: 20px;
}

hr {
	border-top: 2px solid gray;
}


li > a {
	text-decoration:none;
}

.linkHeader {
	margin-left: 20px;
	font-weight: bold;
	color: aqua;
}

.text-muted {
	color:#bcbbbb;
}

.title-super {
	font-size: 80px;
}

.title-logo {
	width: 100%;
	max-width: 100px;
}

.img-responsive {
	width: 100%;
}